In [4]:
#pandas data manipulation
#operating on data
import pandas as pd
import numpy as np
rng=np.random.RandomState(42)#seed the random number generator
ser=pd.Series(rng.randint(0,10,4))#4 random numbers between 0 and 10
print(ser)
df=pd.DataFrame(rng.randint(0,10,(3,4)),columns=['A','B','C','D'])#3x4 matrix of random numbers
print(df)
np.exp(ser)#exponent of each element
np.sin(df*np.pi/4)#sine of each element in the matrix

0    6
1    3
2    7
3    4
dtype: int32
   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16